@tailwind base;
@tailwind components;
@tailwind utilities;


/* css variables, usable on any class of the traditional css of this project */
:root {
  --main-bg-color: #e4ebed;
  --white: #ffffff;
  --secondary-bg-color: #0ee4ce;
  --main-color: #1d2224;
  --secondary-color: #52748f;
  --third-color: #1f284b;
  --shadow-color: #7fa0ba;
  --hover-color: rgba(187, 195, 201, 0.5);
  --background-transparent-gray: rgba(187, 195, 201, 0.5);
  --warning-color: #fa5c8e;
  --warning-hover-color: rgba(250, 92, 142, 0.5);
  --ocre : #f58e40;
}

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.search-input:focus .search-icon {
  fill: var(--white);
}

.show-sidebar {
  right: 0;
}

.category-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--third-color);
  transform-origin: bottom left;
  transition: all 200ms ease-out;
}

.category-link__cont:hover .category-link::after {
  width: 100%;
  transform-origin: bottom right;
  background-color: var(--secondary-color);
}

.category-link__cont:hover .category-link {
  color: var(--secondary-color)
}

.clickable {
  transition: all 200ms;
}

.product-article, .price-text, .add-product-icon{
  transition: all 200ms;
}

.product-article:hover {
  scale: 1.05;
  box-shadow: 0 2px 10px 1px var(--hover-color), 0 2px 3px 0px var(--hover-color);
}

.product-article:hover .price-text {
  color: var(--secondary-bg-color)
}

.add-product-icon:active {
  background-color: var(--secondary-bg-color);
}

.grid-styles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
  gap: 10px;
  justify-content: center;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* carousel item styles */
.carousel-item {
  width: 200px;
  margin: 0 10px 0 10px;
}

@media (min-width: 640px) {
  .profile-navbar-height {
    height: calc(100vh - 82px)
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
